* {
	box-sizing: border-box;
	font-family: 'Comfortaa', cursive;
}

body{
	margin: 0; 
}

.nav1 {
	position: fixed;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	background: url("img/bg1.jpg");
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	object-fit: cover;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.nav1 h4{
	color: white;
}
.nav1 img{
	margin-top: 100px;
	width: 100px;
	height: 115px;
	border-radius: 50%;
}
.nav1 a{
	margin-top: 25px;
	display: inline-block;
	text-decoration: none;
	padding: 5px 15px;
	font-size: 0.9em;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	border-bottom: 2px solid #ffaa00;
}
.nav1 a:hover{
	opacity: 0.5;
	transition-delay:0.05s;
}

.mantul {
	margin-left: 300px;
}
 @media (min-width: 360px) and (max-width: 640px) {
 	.nav1 {
 		display: none;
 	}
 	.nav1 img {
 		display: none;
 	}
 	.nav1 a {
 		display: none;
 	}
 	.nav1 h4 {
 		display: none;
 	}
 	.nav2 {}
 	ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #333;
	}

	li {
	  float: left;
	}

	li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 5px 5px;
	  text-decoration: none;
	}

	li a:hover {
	  background-color: #111;
	}
 	.mantul {
 		margin-left: 0px;
 	}
}
.table-profile{
	width: 100%;
	font-size: 14px;
}
.table-profile td {
	padding-bottom: 1%;
}
p{
	font-size: 15px;
}
#session0{
	padding: 10px;
	font-size: 20px;
	display: block;
}
#session1{
	padding: 10px;
	font-size: 20px;
	display: none;
}
#session2{
	padding: 10px;
	font-size: 20px;
	display: none;
}
#session3{
	padding: 10px;
	font-size: 20px;
	display: none;
}
#session4{
	padding: 10px;
	font-size: 20px;
	display: none;
}

#imghallo{
	width: 30px;
	height: 30px;
}
div.polaroid {
	width: 200px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	border-radius: 10%;
	display: table-cell;
}
div.pola{
	width: 150px;
	display: table-cell;
}

div.container {
	padding: 10px;
}
div img{
	margin-top: 20px;
	transition: transform .2s;
}
div img:hover{
	transform: scale(1.5);
}

#imgPendidikan{
	height: 50px;
	width: 50px;
}

.bar-container {
  width: 90%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

.bar-0 {width: 80%; height: 25px; background-color: #4CAF50;}
.bar-1 {width: 50%; height: 25px; background-color: #4CAF50;}
.bar-2 {width: 75%; height: 25px; background-color: #4CAF50;}
.bar-3 {width: 40%; height: 25px; background-color: #4CAF50;}
.bar-4 {width: 40%; height: 25px; background-color: #4CAF50;}
.bar-5 {width: 68%; height: 25px; background-color: #4CAF50;}

.grid {
	overflow: hidden;
	margin: 0;
	padding: 3em 0 0 0;
	width: 100%;
	list-style: none;
	text-align: center;
}

.grid figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	margin: -0.135em;
	width: 300px;
	height: 250px;
	background: white;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	width: 300px;
	height: 200px;
	opacity: 0.8;
	object-fit: cover;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
	color: black;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*Effect Sadie*/
figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #484c61;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
	color: #fff;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*Effef Milo*/
figure.effect-milo {
	background: white;
}

figure.effect-milo img {
	width: 100% + 60px;
	height: 100% + 60px;
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-30px,0,0) scale(1.12);
	transform: translate3d(-30px,0,0) scale(1.12);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-milo:hover img {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

figure.effect-milo h2 {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 1em 1.2em;
}

figure.effect-milo p {
	padding: 0 10px 0 0;
	width: 100%;
	border-right: 1px solid #fff;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0,0);
	transform: translate3d(-40px,0,0);
}

figure.effect-milo:hover p {
	opacity: 1;
	color: black;
	background-color: white;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	border-radius: 20%;
}

@media screen and (max-width: 69.5em) {
	.grid figure {
		width: 50%;
	}	

	.grid figure figcaption {
		font-size: 90%;
	}
}


@media screen and (max-width: 41.5em) {

	.grid figure {
		width: 100%;
	}
}